{% extends "base.html" %}
{% block head %}
    <title>about page</title>
{% endblock %}


{% block content %}
<div class="profile-card text-center shadow bg-light p-4 my-5 rounded-3"style="transition: 0.5s;">
    <div class="profile-photo shadow">
        <img src="C:\Users\Hp\Documents\RESHMA\static\image\icon.png" alt="profile Photo" class="img-fluid">
    </div>
    <h3 class="pt-3 text-dark">ABOUT</h3>
    <p class="text-secondary">TEAM MEMBERS</p>
    <div class="social-links">
        <ul>
            <li><i>DEEPA V</i></li>
            <li><i>RESHMA K</i></li>
            <li><i>ANUGRAHA C</i></li>
            <li><i>VARSHINI V</i></a></li>                            
        </ul>
    </div>
</div>
{% endblock %}